body {
    display: flex;
    height: 100vh;
    margin: 0px;
}

.image-background {
    background: center url(./assets/halie-west-25xggax4bSA-unsplash.jpg) ;
    background-size: cover;
    background-repeat: no-repeat;

    flex: 0 1 33%;
}

.right-section {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-fields form {
    display: flex;
    flex-direction: row;
    gap: 32px;
}

.form-coloumn {
    display: flex;
    flex-direction: column;
}

.form-coloumn label:nth-child(n + 1) {
    margin-top: 16px; 
}