@font-face {
    font-family: norse;
    src: url(./assets/fonts/Norse-Bold.otf);
}

body {
    display: flex;
    height: 100vh;
    margin: 0px;
}

.image-background {
    background: center url(./assets/halie-west-25xggax4bSA-unsplash.jpg) ;
    background-size: cover;
    background-repeat: no-repeat;

    flex: 0 0 33%;
}

.right-section {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.right-section > div {
    padding-left: 32px;
}

.form-section {
    padding-bottom: 16px;
    box-shadow: 2px 2px 5px  rgb(146, 146, 146);
}

.form-fields form {
    display: flex;
    flex-direction: row;
    gap: 32px;
}

.form-coloumn {
    display: flex;
    flex-direction: column;
}

.form-coloumn label:nth-child(n + 1) {
    margin-top: 16px; 
}

.odin-text-background {
    height: 150px;
    background-color: rgba(0, 0, 0, 0.5);
    position: relative;
    top: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.odin-text-background img {
    height: 85%;
    width: auto;
}

.odin-text-background span {
    font-size: 6rem;
    font-family: norse, 'Courier New', Courier, monospace;
}

.blurb {
    position: relative;
    font-size: 1.25rem;
    font-weight: 550;
    padding-right: 45%;
    bottom: 3rem;
}

.blurb div {
    margin-top: 1.5rem;
}

button {
    margin: 2rem 0;
    background-color: #596D48;
    color: white;
    width: 160px;
    height: 2.3rem;
    border-radius: 8px;
    /* border-color: none; */
    border-style: none;
    border-width: 0px;
}

input {
    border: 1px solid #E5E7EB;
    border-radius: 2px;
}
input:focus {
    outline: none;
    border-color: rgb(0, 110, 255);
    box-shadow: 1px 1px 2px  rgb(146, 146, 146);
}

input.error {
    outline: none;
    border-color: rgb(255, 19, 19);
}

.error-text {
    display: inline-block;
    color: rgb(255, 19, 19);
    font-size: 0.80rem;
}
